<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70122488167-35luaso0gmnkv0eae0tag0jba21lpva7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70122488167-35luaso0gmnkv0eae0tag0jba21lpva7</string>
	<key>API_KEY</key>
	<string>AIzaSyASDT8qAmv5pC6eaJO-nqzeBhfXjD3C-fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>70122488167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bohan.SwiftUIChatTutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftuichattutorial-224c9</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichattutorial-224c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70122488167:ios:6c70676421995898b86fc2</string>
</dict>
</plist>